PEC2_Ej2/Ejer2-1-TODO/services/todo.service.js
PEC2_Ej3/a_map/core.spec.js
PEC2_Ej2/Ejer2-1-TODO/style.css
PEC2_Ej2/Ejer2-1-TODO/views/todo.views.js
PEC2_Ej3/b_filter/core.spec.js
PEC2_Ej3/c_reduce/core.spec.js
PEC2_Ej3/d_every/core.spec.js
PEC2_Ej3/e_some/core.spec.js
PEC2_Ej3/f_zoo/core.spec.js
PEC2_Ej3/f_zoo/data.js
